# TODO: this should be a bit more restrictive (but not fix the versions)
sqlalchemy
Flask
Werkzeug
dataclasses_json
marshmallow
requests
click
Flask-Caching
Jinja2
# orjson is technically optional, but it makes the server more efficient
orjson
