# TODO: this should be a bit more restrictive (but not fix the versions)
psutil
sqlalchemy
Flask
Werkzeug
pydantic
marshmallow
requests
click
Flask-Caching
Jinja2
# orjson is technically optional, but it makes the server more efficient
orjson

# telemetry
opentelemetry-exporter-prometheus
opentelemetry-sdk
# opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp-proto-http

uwsgidecorators
