{% extends "base.html" %}

{% block title %}Plugins (AISysProj Server){% endblock %}

{% block extrahead %}
    <style>
        th, td {
            padding-left: 2em;
            padding-right: 2em;
            text-align: left;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Plugins</h1>
    <table>
        <thead>
            <tr>
                <th>Plugin</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for name, version in plugins %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ version }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
