{% extends "base.html" %}

{% block title %}{{ env.env_info.display_name }}{% endblock %}

{% block extrahead %}
    <style>
        th, td {
            padding-left: 2em;
            padding-right: 2em;
            text-align: left;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>{{ env.env_info.display_name }}</h1>
    {{ env.settings.DESCRIPTION|safe }}

    <h2>Fully evaluated agents (requires {{ env.settings.MIN_RUNS_FOR_FULLY_EVALUATED }} runs)</h2>
    {% if evaluated_agents %}
        <p>
        The <em>current rating</em> shows the rating of your agent according to the more recent runs.
        The <em>best rating</em> is the highest value that the <em>current rating</em> column ever had,
        and it is the only rating that actually matters in the end (e.g. for grading).
        In other words, you do not have to worry if <em>current rating</em> is substantially lower than
        <em>best rating</em> as long as your code is able to produce a rating similar to <em>best rating</em>.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Agent</th>
                    <th>Best rating</th>
                    <th>Current rating</th>
                </tr>
            </thead>
            <tbody>
            {% for ad in evaluated_agents %}
                <tr>
                    <td><a href="{{ url_for('website.agent_page', env=env.env_info.identifier, agent=ad.agent_name) }}">{{ ad.agent_name }}</a></td>
                    <td>{{ ad.agent_rating }}</td>
                    <td>{{ ad.current_agent_rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are currently no fully evaluated agents.</p>
    {% endif %}

    <h2>Not fully evaluated agents</h2>
    {% if unevaluated_agents %}
        <p>The following agents have not had enough runs to be considered fully evaluated.</p>
        <table>
            <thead>
            <tr>
                <th>Agent</th>
                <th>Number of runs</th>
                <th>Estimated rating</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in unevaluated_agents %}
                <tr>
                    <td><a href="{{ url_for('website.agent_page', env=env.env_info.identifier, agent=ad.agent_name) }}">{{ ad.agent_name }}</a></td>
                    <td>{{ ad.total_number_of_runs }}</td>
                    <td>{{ ad.current_agent_rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
    {% else %}
        <p>There are currently no agents that are not fully evaluated.</p>
    {% endif %}
    <p>Note that agents that had no runs might not be listed.</p>
{% endblock %}
