body > header {
    padding: 0;
    text-align: left;
}

body > header > *:only-child {
    margin-block-start: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

p {
    margin: 1.0rem 0;
}

body > footer {
    margin-top: 2rem;
    padding: 0;

main {
    padding-top: 1.0rem;
}

@media only screen and (max-width: 720px) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
}
